.App {
  padding-left: 20px;
  padding-top: 30px;
}

.blackbar{
  background-color: black;
  width: 100%;
  color: white;
  padding: 5px;
  display: flex;
}

/* 이미지 읽기용 */
.img_bg{
  width: 50em;
  height: 40em;
  background-image: url('./pic2.png');
}